html, body{
	width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
	background-color: #B9DEEB ;
	font-family: sans-serif;
}
.banner{
	width: 100%;
	min-width: 750px;
	height: 100px;
	background-color: orange;
	margin: 0;
}
.logo{
	/*Center Div*/
	position: relative;
	left: 0;
	right: 0;
	margin: 0 auto;
	
	width: 750px;
	height: 100px;
}

.navbar{
	background-color: #428FA8;
	width: 100%;
	min-width: 750px;
	
	/*Center Div*/
	position: relative;
	left: 0;
	right: 0;
	margin: 0 auto;
	
	/*These fonts dont work*/
	font-family: "Raleway","HelveticaNeue","Helvetica Neue",sans-serif;
	border-top: 1px solid black;
	border-bottom: 1px solid black;
	/*border: 1px solid black;*/
}
.navbar ul{
	list-style: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	text-align: center;
}

.navbar ul li{
	display: inline-block;
	text-align: center;
}
.navbar ul li a{
	text-decoration: none;
	display: block;
	
	padding-top: 15px;
	padding-bottom: 15px;
	padding-right: 30px;
	padding-left: 30px;
	
	/*border-radius: 5px;*/
	
	color: white;
	
	/*font-size: 20px;*/
	background-color: #428FA8;
}
.navbar ul li a:hover{
	background-color: #32C4CF;
	border-radius: 2px;
}
.main-content{
	width: 750px;
	background-color: white;
	min-height: 400px;
	max-height: auto;
	padding: 0 20px;
	
	overflow: hidden;
	position: relative;
	left: 0;
	right: 0;
	margin: 0 auto;
}
.btn{
	display: inline-block;
	background-color: orange;
	width: 150px;
	line-height: 30px; /*Assists in centering the text*/
	border-radius: 5px;
	text-align: center;
}
.btn:hover{
	cursor: pointer;
}
/*http://stackoverflow.com/questions/6377029/css-inheritance*/