.text-container{
	background-color: white;
	width: 750px;
	height: 400px;
	font-size: 18px;
	
	font-family: Courier New, Courier, monospace;
	
	border-radius: 20px;
	/*Centers an absolute element*/
	position: absolute;
	left: 0;
	right: 0;
	margin: 0 auto;
}
.sub-text-container{
	width: 700px;
	height: 350px;
	margin: 25px auto;
}
.typed{
	color: lightgrey;
}
.current{
	background-color: lightgreen;
}
.mistake{
	background-color: red;
}
.finish{
	/*visibility: hidden;*/
	background-color: white;
	width: 750px;
	height: 400px;
	
	border-radius: 20px;
	position: absolute;
	left: 0;
	right: 0;
	margin: 0 auto;
	z-index: -1;
	text-align: center;
}
#fin-heading{
	text-align: center;
	margin-top: 50px;
	font-size: 50px;
	font-family: sans-serif
}
.results-container{
	width: 90%;
	margin: 0 auto;
	margin-top: 180px;
	border: 1px lightgrey solid;
	border-radius: 10px;
}
.results{
	display: inline-block;
	margin-right: 40px;
	margin-left: 40px;
	margin-top: 10px;
	margin-bottom: 10px;
	width: 135px;
}
hr{ 
	background-color: lightgrey;
	height: 1px; 
	border: 0; 
}
.options{
	display: inline-block;
	background-color: orange;
	width: 150px;
	line-height: 30px; /*Assists in centering the text*/
	margin-top: 5px;
	border-radius: 5px;
	margin-right: 40px;
	margin-left: 40px;
}
.options > *{
	vertical-align: middle;
}
.options:hover{
	cursor: pointer;
}